<nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold">
        <p>TMDb</p>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          <span class="icon">
            <i class="fas fa-film"></i>
          </span>
          <span>Movies</span>
        </a>

        <a class="navbar-item">
          <span class="icon">
            <i class="fas fa-tv"></i>
          </span>
          <span>TV</span>
        </a>
      </div>
    </div>
  </div>
</nav>
  
<router-outlet></router-outlet>